 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background-image: url(PNG.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
   padding: 20px;
   overflow-x: hidden;
 }

 .mi-titulo,
 .mi-parrafo {
   color: rgba(255, 255, 255, 0.8);
   font-size: 7vw;
   font-weight: bold;
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-bottom: 10px;
 }

 .mi-subparrafo {
   color: rgb(0, 57, 214);
   text-align: center;
   font-size: 5vw;
   margin: 20px auto;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .contenedor {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   margin: 30px auto;
 }

 .GH,
 .FB,
 .IG {
   padding: 15px 30px;
   font-size: 16px;
   border: none;
   border-radius: 8px;
   background-color: #007bff;
   color: white;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   box-shadow: 0 4px 6px rgb(0, 0, 0);
   width: 80%;
   max-width: 300px;
 }

 .GH:hover,
 .FB:hover,
 .IG:hover {
   background-color: #15ff00;
   transform: scale(1.05);
 }

 .Mifoto {
   display: block;
   margin: 40px auto;
   width: 80%;
   max-width: 300px;
   border-radius: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
   object-fit: contain;
 }

 @media screen and (min-width: 768px) {

   .mi-titulo,
   .mi-parrafo {
     font-size: 3rem;
   }

   .mi-subparrafo {
     font-size: 2rem;
   }
 }